@font-face {
  font-family: "iconfont"; /* Project id 3028487 */
  src: url("//at.alicdn.com/t/font_3028487_c2k731dso6.woff2?t=1639917523326")
      format("woff2"),
    url("//at.alicdn.com/t/font_3028487_c2k731dso6.woff?t=1639917523326")
      format("woff"),
    url("//at.alicdn.com/t/font_3028487_c2k731dso6.ttf?t=1639917523326")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
